* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}
.header h1
{
    margin-right: auto;
    padding: 25px;
}

.pfp{
    display: flex;
    
}

.pfp img
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.nav-list
{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    list-style: none;
    
}

.nav-list a {
    text-decoration: none;
    color: #333;
    display: inline-block;         
    padding: 5px 10px;
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: auto;
    
}

.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*
#entry
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0cap;
}*/