* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

.nav-list
{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    list-style: none;
    
}

.nav-list a {
    text-decoration: none;
    color: #333;
    display: inline-block;         
    padding: 5px 10px;
}